<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <sub th:fragment="5start">
        <img src="/static/img/hxin.png"/>
        <img src="/static/img/hxin.png"/>
        <img src="/static/img/hxin.png"/>
        <img src="/static/img/hxin.png"/>
        <img src="/static/img/hxin.png"/>
    </sub>
    <sub  th:fragment="4start">
        <img src="/static/img/hxin.png"/>
        <img src="/static/img/hxin.png"/>
        <img src="/static/img/hxin.png"/>
        <img src="/static/img/hxin.png"/>
        <img src="/static/img/xin.png"/>
    </sub>
    <sub  th:fragment="3start">
        <img src="/static/img/hxin.png"/>
        <img src="/static/img/hxin.png"/>
        <img src="/static/img/hxin.png"/>
        <img src="/static/img/xin.png"/>
        <img src="/static/img/xin.png"/>
    </sub>
    <sub  th:fragment="2start">
        <img src="/static/img/hxin.png"/>
        <img src="/static/img/hxin.png"/>
        <img src="/static/img/xin.png"/>
        <img src="/static/img/xin.png"/>
        <img src="/static/img/xin.png"/>
    </sub>
    <sub  th:fragment="1start">
        <img src="/static/img/hxin.png"/>
        <img src="/static/img/xin.png"/>
        <img src="/static/img/xin.png"/>
        <img src="/static/img/xin.png"/>
        <img src="/static/img/xin.png"/>
    </sub>
    <sub  th:fragment="0start">
        <img src="/static/img/xin.png"/>
        <img src="/static/img/xin.png"/>
        <img src="/static/img/xin.png"/>
        <img src="/static/img/xin.png"/>
        <img src="/static/img/xin.png"/>
    </sub>
</body>
</html>