<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <title>最家</title>
    <link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/mygxin.css"/>
    <script th:inline="javascript">
        window.onload1=function () {
            getLocation()
            const count = [[${addressList.size()}]]//要多少个盒子
            const addobj = [[${addressList}]]
            addressLoad(count,addobj) //渲染地址box
            var user_id = [[${session.user_id}]]
            console.log(user_id)
            $("#uid").val(user_id)
            //为所有地址盒子添加监听器
            let dizhis = document.querySelectorAll(".dizhi")
            for (let i = 0; i <dizhis.length ; i++) {
                dizhis[i].addEventListener("mouseover",function () {
                    let addp = dizhis[i].querySelector(".addp");
                    addp.style.display = 'block'
                    })
                dizhis[i].querySelector("#readd").addEventListener("click",function () {
                    //ajax请求填入数据
                    let addId = dizhis[i].querySelector(".addId").innerHTML;
                    readdPutData(addId,user_id)
                    console.log("go")
                    $(".mask").show();
                    $(".readd").show();
                    $("#deladd").click(function () {
                        $(dizhis[i]).remove()
                    })
                })
                dizhis[i].addEventListener("mouseout",function () {
                    $(".bc>input").click(function () {
                        if ($(this).val() == "保存") {
                            $(".mask").hide();
                            $(".readd").hide()
                        } else {
                            $(".mask").hide();
                            $(".readd").hide()
                        }
                    });
                    let addp = dizhis[i].querySelector(".addp");
                    addp.style.display = 'none'
                })
                dizhis[i].querySelector("#deladd").addEventListener("click",function () {
                    let isDefault  = dizhis[i].querySelector(".isDefault").innerHTML;
                    if(isDefault==="1"){
                        alert("默认地址不允许删除")
                        return null
                    }else {
                        let addId = dizhis[i].querySelector(".addId").innerHTML;
                        let obj = {"addId":addId,"user_id":user_id}
                        let json = JSON.stringify(obj)
                        $.ajax({
                            url: serverhost + "/delAddress",
                            method: "post",
                            contentType: "application/json;charset=utf-8",
                            data:json,
                            async: true,
                            dataType:"json",
                            success: function (data) {
                                console.log(data.code)
                                if(data.code==="200"){
                                    alert("删除成功")
                                    dizhis[i].remove()
                                }else alert(data.msg)
                            },
                        })
                    }
                })
            }
        }

            /*

             */
    </script>
</head>
<body><!------------------------------head------------------------------>
<div th:replace="~{common/usernavbar::top}"></div>
<!------------------------------idea------------------------------>
<div class="address mt">
    <div class="wrapper clearfix"><a th:href="@{/main}" class="fl">首页</a><span>/</span><a
            th:href="@{/user/profile}">个人中心</a><span>/</span><a th:href="@{/user/address}" class="on">地址管理</a></div>
</div><!------------------------------Bott------------------------------>
<div class="Bott">
    <div class="wrapper clearfix">
        <div th:replace="~{common/usernavbar::user-left-navbar(active='address')}"></div>
        <div class="you fl"><h2>收货地址</h2>
                    <div class="add" >
                        <div class="new">
                            <a href="#2" id="addxad">
                                <img src="/static/img/jia.png"/>
                            </a><span >添加新地址</span>
                        </div>
                </div>
        </div>
    </div>
</div>
<!--编辑弹框-->
<!--遮罩-->
<div class="mask"></div>
<div th:replace="~{common/usernavbar::maskAdd}"></div>
<div th:replace="~{common/usernavbar::maskreadd}"></div>
<!--返回顶部-->
<div th:replace="~{common/usernavbar::user-gotop}"></div>
<!--footer-->
<div th:replace="~{common/usernavbar::footer}"></div>
<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/user.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/address.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>