<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <title>布艺软饰</title>
    <link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/proList.css"/>
</head>
<body><!------------------------------head------------------------------>
<div th:replace="~{common/usernavbar::top}"></div>
<p style="display: none" id="user_id" th:text="${session.user_id}" ></p>
<p style="display: none" id="user--id" th:text="${session.user_id}" ></p>
<!------------------------------banner------------------------------>
<div class="banner"><a href="#"><img src="/static/img/temp/bzbig.jpg"/></a></div>
<p id="current-page" th:text="${currentPage}" style="display: none"></p>
<!-----------------address------------------------------->
<div class="address">
    <div class="wrapper clearfix"><a th:href="@{/main}">首页</a><span>/</span><a th:href="@{/decoration}" class="on">布艺软饰</a>
    </div>
</div><!-------------------current---------------------->
<div class="current">
    <div class="wrapper clearfix"><h3 class="fl">布艺软饰</h3>
        <div class="fr choice"><p class="default">排序方式</p>
            <ul class="select">
                <li class="desc">价格从高到低</li>
                <li class="asce">价格从低到高</li>
            </ul>
        </div>
    </div>
</div><!----------------proList------------------------->
<ul class="proList wrapper clearfix">
    <tr th:each="bzpro:${bzproList}">
        <li>
            <a style="display: none" class="pid" th:text="${bzpro.productId}"></a>
            <a th:href="@{/proDetail/{pid}(pid=${bzpro.getProductId()})}">
            <dl>
                <dt><img th:src="${bzpro.getPicture()}"></dt>
                <dd th:text="${bzpro.getName()}" ></dd>
                <dd th:text="'￥'+${bzpro.getFixedPrice()}" ></dd>
            </dl>
        </a>
        </li>
    </tr>
    <tr th:if="${zbproList}!=null" th:each="zbpro:${zbproList}">
        <li>
            <a style="display: none" class="pid" th:text="${zbpro.productId}"></a>
            <a th:href="@{/proDetail/{pid}(pid=${zbpro.getProductId()})}">
            <dl>
                <dt><img th:src="${zbpro.getPicture()}"></dt>
                <dd th:text="${zbpro.getName()}" ></dd>
                <dd th:text="'￥'+${zbpro.getFixedPrice()}" ></dd>
            </dl>
        </a>
        </li>
    </tr>
</ul>
<!----------------mask------------------->
<div class="mask"></div>
<!-------------------mask内容------------------->
<div th:replace="~{common/usernavbar::maskPro}"></div>
<!--返回顶部-->
<div th:replace="~{common/usernavbar::user-gotop}"></div>
<div class="msk"></div><!--footer-->
<div th:replace="~{common/usernavbar::footer}"></div>
<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/nav.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/pro.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/cart.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>