<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <title>forget</title>
    <link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/proList.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/forget.css"/>
    <style>
        .warn-text{
            color: red ;
        }
    </style>
</head>
<body><!----------------------------------------order------------------>
<div class="order cart"><!-----------------logo------------------->
    <div class="logo"><h1 class="wrapper clearfix"><a th:href="@{/main}"><img class="fl" src="/static/img/temp/logo.png"></a>
    </h1></div>
    <div class="forCon"><p>找回密码</p>
        <ul>
            <li class="on"><span>01/</span>输入登录邮箱</li>
            <li><span>02/</span>验证信息</li>
        </ul>
        <div class="formCon">
            <!--步骤1-->
            <form action="#" method="post" class="one">
                <input class="email" type="text" name="email" value="" placeholder="请输入邮箱"><label style="display: none" class="warn-text"></label><br/>
                <input type="text" name="code"  value="" placeholder="验证码"><label>请输入验证码</label>
                <br/>
                <img onclick="this.src='/createCapt?'+Math.random()" src="/createCapt">
                <br>
                <input type="button" value="下一步" class="next"></form><!--步骤2-->
            <!--步骤2-->
            <form action="#" method="post" class="two"><p>电子邮箱：<span class="user-email" ></span></p>
                <p class="tip">新的密码已经发在您的邮箱当中,注意修改</p>
                <a th:href="@{/login}" ><input type="button" value="登录" class="next1"></a>
            </form>
        </div>
    </div>
</div>
<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/pro.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/forget.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>