<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <title>最家</title>
    <link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/myorder.css"/>
</head>
<body><!------------------------------head------------------------------>
<div th:replace="~{common/usernavbar::top}"></div>
<!------------------------------idea------------------------------>
<div class="address mt">
    <div class="wrapper clearfix"><a th:href="@{/main}" class="fl">首页</a><span>/</span><a
            th:href="@{/user/profile}">个人中心</a><span>/</span><a th:href="@{/user/myOrder}" class="on">我的订单</a></div>
</div><!------------------------------Bott------------------------------>
<div class="Bott">
    <div class="wrapper clearfix">
        <div th:replace="~{common/usernavbar::user-left-navbar(active='myorderq')}"></div>
        <div class="you fl">
            <div class="my clearfix"><h2 class="fl">我的订单</h2><a href="#" class="fl">请谨防钓鱼链接或诈骗电话，了解更多&gt;</a></div>
            <div class="dlist clearfix">
                <ul class="fl clearfix" id="wa">
                    <!-- TODO 搜索功能 -->
                    <li class="on"><a th:href="@{/user/myOrder}">全部有效订单</a></li>
                    <li><a th:href="@{/user/myOrder/待支付}">待支付</a></li>
                    <li><a th:href="@{/user/myOrder/待收货}">待收货</a></li>
                    <li><a th:href="@{/user/myOrder/已关闭}">已关闭</a></li>
                </ul>
                <!-- TODO 搜索功能 -->
                <form th:action="@{/user/myOrder}" method="get" class="fr clearfix">
                    <input type="text" name="search" id="search" value=""
                           placeholder="请输入商品名称、订单号"/>
                    <input type="button" onclick="searchbtn.click()" id="click search"/>
                    <input type="submit" name="searchbtn" style="display: none" >
                </form>
            </div>
            <!-- dkuang = 已收货
                dkuang clearfix deng 待收货
                dkuang deng 待支付
             -->
            <tr th:each="order:${orders}">
                <div class="dkuang" th:if="${order.status}=='已收货' or ${order.status}=='已关闭' ">
                    <p class="one" th:text="${order.status}"></p>
                    <div class="word clearfix">
                        <ul class="fl clearfix">
                            <li th:text="${#dates.format(order.getDateTime(),'yyyy年MM月dd日 HH:mm:ss')}"></li>
                            <li th:text="${order.user.nickName}"></li>
                            <li th:type="'订单号:'+${order.orderId}"></li>
                            <li th:text="${order.payment}"></li>
                        </ul>
                        <p class="fr">订单金额：<span th:text="${order.totalPrice}"></span>元</p>
                    </div>
                    <td th:each="pro:${order.getProductList()}">
                        <div class="shohou clearfix">
                            <a th:href="@{/proDetail/{pid}(pid=${pro.productId})}" class="fl">
                                <img th:src="${pro.picture}"/></a>
                            <p class="fl">
                                <a th:href="@{/proDetail/{pid}(pid=${pro.productId})}" th:text="${pro.name}" ></a>
                                <a href="#" th:text="'¥'+${pro.fixedPrice}+'x'+${pro.o_amount}"></a></p>
                            <p class="fr" th:if="${proStat.first}"><a href="#">确认收货</a><a href="orderxq.html">订单详情</a></p>
                        </div>
                    </td>
                </div>
                <div class="dkuang clearfix deng" th:if="${order.status}=='待收货'">
                    <p class="one fl">待收货</p>
                    <div class="clearfix">
                        <div class="fl vewwl"><a href="wuliu.html" class="ckwl">查看物流</a>
                            <div class="wuliu"><h4>圆通速递：858888888888888</h4>
                                <ul>
                                    <li><p>妥投投递并签收，已签收。签收人：本人签收</p>
                                        <p>2016-12-03 17:30:00</p></li>
                                    <li><p>深圳市南油速递营销部安排投递（投递员姓名：六六六。联系电话：14243452522;</p>
                                        <p>2016-12-03 08:50:00</p></li>
                                    <li><p>到达广东省邮政速递物流有限公司深圳航空邮件处理中心处理中心（经转）</p>
                                        <p>2016-12-03 02:20:00</p></li>
                                    <li>以上为最新跟踪信息<a href="wuliu.html">查看全部</a></li>
                                </ul>
                            </div>
                        </div> <!-- TODO 快递信息 -->
                    </div>
                    <div class="word clearfix">
                        <ul class="fl clearfix">
                            <li th:text="${#dates.format(order.getDateTime(),'yyyy年MM月dd日 HH:mm:ss')}"></li>
                            <li th:text="${order.user.nickName}"></li>
                            <li th:type="'订单号:'+${order.orderId}"></li>
                            <li th:text="${order.payment}"></li>
                        </ul>
                        <p class="fr">订单金额：<span th:text="${order.totalPrice}"></span>元</p>
                    </div>
                    <td th:each="pro:${order.getProductList()}">
                        <div class="shohou clearfix">
                            <a th:href="@{/proDetail/{pid}(pid=${pro.productId})}" class="fl">
                                <img th:src="${pro.picture}"/></a>
                            <p class="fl">
                                <a th:href="@{/proDetail/{pid}(pid=${pro.productId})}" th:text="${pro.name}" ></a>
                                <a href="#" th:text="'¥'+${pro.fixedPrice}+'x'+${pro.o_amount}"></a></p>
                            <p class="fr" th:if="${proStat.first}"><a href="#">确认收货</a><a href="orderxq.html">订单详情</a></p>
                        </div>
                    </td>
                </div>
                <div class="dkuang deng" th:if="${order.status}=='待支付'">
                    <p class="one">待支付</p>
                    <div class="word clearfix">
                        <ul class="fl clearfix">
                            <li th:text="${#dates.format(order.getDateTime(),'yyyy年MM月dd日 HH:mm:ss')}"></li>
                            <li th:text="${order.user.nickName}"></li>
                            <li th:type="'订单号:'+${order.orderId}"></li>
                            <li th:text="${order.payment}"></li>
                        </ul>
                        <p class="fr">订单金额：<span th:text="${order.totalPrice}"></span>元</p>
                    </div>
                    <td th:each="pro:${order.getProductList()}">
                        <div class="shohou clearfix">
                            <a th:href="@{/proDetail/{pid}(pid=${pro.productId})}" class="fl">
                                <img th:src="${pro.picture}"/></a>
                            <p class="fl">
                                <a th:href="@{/proDetail/{pid}(pid=${pro.productId})}" th:text="${pro.name}" ></a>
                                <a href="#" th:text="'¥'+${pro.fixedPrice}+'x'+${pro.o_amount}"></a></p>
                            <p class="fr" th:if="${proStat.first}"><a href="#">确认收货</a><a href="orderxq.html">订单详情</a></p>
                        </div>
                    </td>
                </div>
            </tr>
            <div class="fenye clearfix">
                <a href="#"><img src="/static/img/zuo.jpg"/></a><a href="#">1</a><a href="#"><img
                    src="/static/img/you.jpg"/></a>
            </div>
        </div>
    </div>
</div>
<!--返回顶部-->
<div th:replace="~{common/usernavbar::user-gotop}"></div>

<!--footer-->
<div th:replace="~{common/usernavbar::footer}"></div>
<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/user.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>