<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <title>订单信息</title>
    <link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/myorder.css"/>
</head>
<body><!------------------------------head------------------------------>
<div th:replace="~{common/usernavbar::top}"></div>
<!------------------------------idea------------------------------>
<div class="address mt">
    <div class="wrapper clearfix"><a th:href="@{/main}" class="fl">首页</a><span>/</span><a th:href="@{/user/myOrder}"
                                                                                         class="on">我的订单</a><span>/</span><a
            href="#" class="on">订单详情</a></div>
</div><!------------------------------Bott------------------------------>
<div class="Bott">
    <div class="wrapper clearfix">
        <div th:replace="~{common/usernavbar::user-left-navbar}"></div>
        <div class="you fl">
            <div class="my clearfix"><h2>订单详情<a href="#">请谨防钓鱼链接或诈骗电话，了解更多&gt;</a></h2>
                <h3>订单号：<span th:text="${order.orderId}"></span></h3></div>
            <div class="orderList">
                <div class="orderList1"><h3 th:text="${order.status}"></h3>
                    <div class="clearfix"><a href="#" class="fl"><img style="width: 120px;height: 120px;"  th:src="${order.product.picture}"/></a>
                        <p class="fl"><a th:text="${order.product.name}"></a><a  th:text="'¥'+${order.product.fixedPrice}+'x'+${order.amount}" ></a></p></div>
                </div>
                <div class="orderList1"><h3>收货信息</h3>
                    <p>姓 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：<span th:text="${order.receiveAddress.receiveName}"></span></p>
                    <p>联系电话：<span th:text="${order.receiveAddress.mobile}"></span></p>
                    <p>收货地址：<span th:text="${order.receiveAddress.province}+${order.receiveAddress.address}" >河北 唐山市 路北区 高新软件园</span></p></div>
                <div class="orderList1"><h3>支付方式及送货时间</h3>
                    <p>支付方式：<span th:text="${order.payment.payment}" ></span></p>
                    <p>送货时间：<span>不限送货时间</span></p></div>
                <div class="orderList1 hei">
                    <h3><strong>商品总价：</strong><span th:text="'¥'+${order.totalPrice}*${order.amount}"></span></h3>
                    <p><strong>运费：</strong><span>¥0</span></p>
                    <p><strong>订单金额：</strong><span th:text="'¥'+${order.totalPrice}*${order.amount}"></span></p>
                    <p><strong>实付金额：</strong><span th:text="'¥'+${order.totalPrice}*${order.amount}"></span></p></div>
            </div>
        </div>
    </div>
</div>
<<!--返回顶部-->
<div th:replace="~{common/usernavbar::user-gotop}"></div>
<!--footer-->
<div th:replace="~{common/usernavbar::footer}"></div>
<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/user.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>