<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/proList.css"/>
    <script>
        var collection_flag = false
        window.onload1=function () {
            let user_id = $("#user_id").text()
            if(user_id===""){
                return
            }
            let pid = $("#pid").text()
            let obj = {"user_id":user_id,"pid":pid}
            $.ajax({
                url: serverhost + "/user/queryCollection",
                method: "POST",
                data: JSON.stringify(obj),
                contentType: "application/json;charset=utf-8",
                async: true,
                dataType:"json",
                success: function (data) {
                    if(data.code==="200"){
                        if(data.data.isCollected==="true"){
                            collection_flag = true
                            $("#collection").attr("src","/static/img/util/collected.png")
                            return
                        }
                        if(data.data.isCollected==="false"){
                            collection_flag = false
                            $("#collection").attr("src","/static/img/util/collection.png")
                        }
                    }else {
                        alert(data.msg)
                    }
                },
            })
        }
    </script>
</head>
<body><!------------------------------head------------------------------>
<div th:replace="~{common/usernavbar::top}"></div>
<p style="display: none" id="user--id" th:text="${session.user_id}" ></p>
<p style="display: none" id="user_id" th:text="${session.user_id}" ></p>
<!-----------------TODO 商品详细 address------------------------------->
<div class="address">
    <div class="wrapper clearfix"><a th:href="@{/main}">首页</a><span>/</span><a
            th:href="@{/flowerDer}">装饰摆件</a><span>/</span><a th:href="@{/proList}">干花花艺</a><span>/</span>
        <a href="#" class="on" th:text="${product.name}"></a>
    </div>
</div>
<!-----------------------Detail------------------------------>
<div class="detCon">
    <div class="proDet wrapper">
        <div class="proCon clearfix">
            <div class="proImg fl"><img class="det" th:src="${product.picture}"/>
                <div class="smallImg clearfix">
                    <img th:src="${product.getPicture()}" th:data-src="${product.picture}">
                    <img th:src="${product.getPicture()}" th:data-src="${product.picture}">
                    <img th:src="${product.getPicture()}" th:data-src="${product.picture}">
                    <img th:src="${product.getPicture()}" th:data-src="${product.picture}">
                </div>
            </div>
            <div class="fr intro" >
                <div class="title"><h4 th:text="${product.name}"></h4>
                    <p th:text="${product.description}"></p>
                    <p id="pid" style="display: none" th:text="${product.productId}" ></p>
                    <span th:text="'￥'+${product.fixedPrice}"></span>
                    <p style="font-size: medium" >收藏此商品&nbsp;<img style="cursor: pointer" id="collection" src="/static/img/util/collection.png"></p>

                </div>
                <div class="proIntro"><p>颜色分类</p>
                    <div class="smallImg clearfix categ">
                        <p class="fl"><img style="height: 50px;width: 50px;" th:src="${product.picture}" alt="白瓷花瓶+20支快乐花"></p>
                        <p class="fl"><img style="height: 50px;width: 50px;" th:src="${product.picture}" alt="白瓷花瓶+20支快乐花白瓷花瓶+20支快乐花" ></p>
                        <p class="fl"><img style="height: 50px;width: 50px;" th:src="${product.picture}" alt="20支快乐花"></p>
                        <p class="fl"><img style="height: 50px;width: 50px;" th:src="${product.picture}" alt="20支兔尾巴草"></p>
                    </div>
                    <p>数量&nbsp;&nbsp;库存<span th:text="${product.storage}"></span>件</p>
                    <div class="num clearfix"><img class="fl sub" src="/static/img/temp/sub.jpg">
                        <span class="fl" id="proAmount" contentEditable="true">1</span><img
                            class="fl add" src="/static/img/temp/add.jpg">
                        <p class="please fl">请选择商品属性!</p></div>
                </div>
                <div class="btns clearfix"><a><p style="cursor: pointer" class="buy fl">立即购买</p></a>
                    <a ><p class="cart fr">加入购物车</p></a></div>
            </div>
        </div>
    </div>
</div>
<div class="introMsg wrapper clearfix">
    <div class="msgL fl">
        <div class="msgTit clearfix"><a class="on">商品详情</a><a>所有评价</a></div>
        <div class="msgAll">
            <div class="msgImgs"><img src="/static/img/temp/det01.jpg"><img src="/static/img/temp/det02.jpg"><img
                    src="/static/img/temp/det03.jpg"><img src="/static/img/temp/det04.jpg"><img src="/static/img/temp/det05.jpg"><img
                    src="/static/img/temp/det06.jpg"><img src="/static/img/temp/det07.jpg"></div>
            <div class="eva">
                <p th:if="${comments.size()}==0">评论空空如也~</p>
                <tr th:each="comment:${comments}">
                    <div class="per clearfix"><img class="fl" width="40px" height="40px"  th:src="${comment.user.headPic}">
                        <div class="perR fl">
                            <p>
                                <span th:text="${comment.user.nickName}" ></span>
                                <sub th:if="${comment.likes}==4">
                                    <sub  th:replace="~{common/otherThings::5start}"></sub>
                                </sub>
                                <sub th:if="${comment.likes}==3">
                                    <sub  th:replace="~{common/otherThings::4start}"></sub>
                                </sub>
                                <sub th:if="${comment.likes}==2">
                                    <sub  th:replace="~{common/otherThings::3start}"></sub>
                                </sub>
                                <sub th:if="${comment.likes}==1">
                                    <sub  th:replace="~{common/otherThings::2start}"></sub>
                                </sub>
                                <sub th:if="${comment.likes}==0">
                                    <sub  th:replace="~{common/otherThings::1start}"></sub>
                                </sub>
                            </p>

                            <p th:text="${comment.context}" ></p>
                            <div class="clearfix">
                                <p><img style="width: 40px;height: 40px" th:src="${product.picture}"></p>
                                <p><img style="width: 40px;height: 40px" th:src="${product.picture}"></p>
                                <p><img style="width: 40px;height: 40px" th:src="${product.picture}"></p>
                                <p><img style="width: 40px;height: 40px" th:src="${product.picture}"></p>
                            </div>
                            <p><span th:text="${#dates.format(comment.createTime,'yyyy年MM月dd日HH:mm')}">
                            </span><span th:text="'颜色分类'+${comment.product.catalog}"></span></p>
                        </div>
                    </div>
                </tr>
            </div>
        </div>
    </div>
    <div th:replace="~{common/usernavbar::recommend}"></div>
</div>
<div th:replace="~{common/usernavbar::guess}"></div>

<!--返回顶部-->
<div th:replace="~{common/usernavbar::user-gotop}"></div>
<div class="msk"></div>
<!--footer-->
<div th:replace="~{common/usernavbar::footer}"></div>
<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/nav.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/pro.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>